.contact-bg{
  background: linear-gradient(to bottom, var(--color-p5) 40%, var(--color-0) 0%);
}
.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
  padding-bottom: 120px;
}

@media (max-width: 1200px) {
  .contact{
  grid-template-columns: 1fr;
  padding-top: 0px;
  padding-bottom: 60px;
  }
  .contact-img{
    display: none;
  }
}
