.questions{
  padding-top: 120px;
  padding-bottom: 120px;
}

.questions h1{
  margin-bottom: 80px;
}

.questions dl > div{
  padding: 20px 40px;
}

.questions dl > div:nth-child(odd){
  background-color: var(--color-p6);
  border-radius: 5px;
}

.questions dt{
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.questions dt::before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background: var(--color-p3);
}

.questions dt::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url("../../img/icons/arrow-up.svg") no-repeat;
  transition: 0.3s;
}

.questions dt:hover::after{
  transform: rotate(180deg);
}

.questions dd{
  max-width: 80ch;
  margin-left: 20px;
}

@media(max-width:800px){
  .questions{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .questions h1{
    margin-bottom: 40px;
  }
}

@media(max-width:600px){

}