.container{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.btn{
  display: inline-block;
  padding: 16px 32px;
  max-width: max-content;
  border-radius: 4px;
  text-transform: uppercase;
  font: 600 1.125rem/1.5 "Poppins" , sans-serif;
  background-color: var(--color-p1);
  color: var(--color-0);
}

.btn:hover{
  background-color: var(--color-s2);
  color: var(--color-0);
}

.btn-light{
  background-color: var(--color-p3);
}

.btn-light:hover{
  background-color: var(--color-p2);
}

/* Title header */

.title-bg{
  background-color: var(--color-p5);
}
.title {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title h1,
.title span {
  margin-bottom: 20px;
}