.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--color-p6);
  padding: 60px;
}

.form .col-2{
  grid-column: span 2;
}

.form label {
  font: 500 1rem/1.5 "Poppins", sans-serif;
  color: var(--color-s3);
}

.form input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid var(--color-p5);
  background:  rgba(247, 247, 247, 0.97);
}
