.intro-bg{
  background-color: var(--color-p6);
  position: relative;
}

.intro-bg::after{
  content: "";
  display: block;
  background: url("../../img/dec/dec-bottom.svg") no-repeat right;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 320px;
}

.intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.intro h1{
  margin-bottom: 32px;
}

.intro p{
  margin-bottom: 20px;
}

@media(max-width:1200px){
  .intro-bg::after{
    content: "";
    display: block;
    background: url("../../img/dec/dec-bottom.svg") no-repeat right bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 150px;
  }
}

@media(max-width: 800px){
  .intro-bg::after{
   display: none;
  }
  .intro{
    grid-template-columns: 1fr;
    padding-top: 40px;
  }
  .intro img{
    display: none;
  }

  .intro h1{
    margin-bottom: 16px;
  }
}
